<div id="topbar">
    <div id="signin">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <%= f.email_field :email, :id => 'email' %>
	  <%= f.password_field :password, :id => 'password' %>

	<%= f.submit "Sign in" %>    <% end %>
      </div>

</div>

