<!DOCTYPE html>
<html>
<head>
  <title>Icare</title>
  <%= stylesheet_link_tag    'application.css', '/bootstrap/css/bootstrap.min.css', 'jquery-ui-1.8.18.custom.css' %>
  <%= javascript_include_tag "application", 'jquery-1.7.1.min.js', 'jquery-ui-1.8.18.custom.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
